.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #2C3C41;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 15px 0px;
  background: #2C3C41;
  border-bottom: 2px solid #275763;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul h4, #sidebar h3 {
  color: #fff;
  text-align: center;
}
#sidebar h3 a {
  color: #fff;
  text-decoration: none;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
  color: #fff;
}

#sidebar ul li a:hover {
  color: #2C3C41;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #2C3C41;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

hr {
  background-color: #fff;
}